@keyframes ShowWinCycle {
	0% {
		opacity: 0;
		height: 0;
	}
	5% {
		opacity: 1;
		height: 50px;
	}
	95% {
		opacity: 1;
		height: 50px;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}
#matchbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	width: 1148px;
	height: 70px;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	#timer {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 126px;
		height: 115px;
		margin-left: 0px; ///old 8px;
		margin-right: 0px; ///old 8px;
		background-color: var(--sub-panel-color);
        top: 0px; ///old -10px;
        &.no-bo {
            height: 87px;
        }
	}
	#bomb_container {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 70px;
		z-index: 0;
		.bomb_timer {
			width: 100%;
			top: 0;
			height: 0;
            background-color: var(--color-bomb);
            &.hide {
                display: none;
            }
		}
		.bomb_icon {
			position: absolute;
			width: 100%;
			height: 100%;
			svg {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 6px;
				max-height: 80%;
				max-width: 80%;
            }
            &.hide {
                display: none;
            }
		}
	}
	#round_timer_text {
		display: flex;
		width: 100%;
		height: 55px;
		justify-content: center;
		font-size: 34px;
		font-weight: bold;
		z-index: 1;
		color: var(--white-full);
        align-items: flex-end;
        &.hide {
            display: none;
        }
	}
	#round_now {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 27px;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		font-weight: bold;
		z-index: 1;
        color: var(--white-full);
        &.hide {
            display: none;
        }
	}
	.team {
		width: 426px;
		display: flex;
		align-items: center;
		.logo {
			display: flex;
			flex-direction: row;
			width: 105px;
			height: 70px;
			align-items: center;
			overflow: hidden;
			background-color: var(--sub-panel-color);
			img {
				max-width: 90%;
				max-height: 65%;
			}
        }
        &.left {
            justify-content: center;
            flex-direction: row;
            .round-thingy {
                left: -30px;
            }
            .logo {
                justify-content: flex-start;
            }
        }
        &.right {
            justify-content: center;
            flex-direction: row-reverse;
            .round-thingy {
                right: -30px;
            }
            .logo {
                justify-content: flex-end;
            }
        }
	}
	.team-name {
		display: flex;
		width: 360px;
		height: 70px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 30px;
		background-color: var(--sub-panel-color);
	}
	.score {
		display: flex;
		flex-direction: row;
		width: 77px;
		height: 70px;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 36px;
		color: #ffff;
		-webkit-text-stroke-width: 0.5px;
  		-webkit-text-stroke-color: black;
		&.CT {
            background-color: var(--color-new-ct);
			text-shadow: var(--color-dark-ct) 1px 1px,
			var(--color-dark-ct) 2px 2px,
			var(--color-dark-ct) 3px 3px,
			var(--color-dark-ct) 4px 4px,
			var(--color-dark-ct) 5px 5px,
			var(--color-dark-ct) 6px 6px,
			var(--color-dark-ct) 7px 7px,
			var(--color-dark-ct) 8px 8px,
			var(--color-dark-ct) 9px 9px,
			var(--color-dark-ct) 10px 10px,
        }
        &.T {
            background-color: var(--color-new-t);
			text-shadow: var(--color-dark-t) 1px 1px,
			var(--color-dark-t) 2px 2px,
			var(--color-dark-t) 3px 3px,
			var(--color-dark-t) 4px 4px,
			var(--color-dark-t) 5px 5px,
			var(--color-dark-t) 6px 6px,
			var(--color-dark-t) 7px 7px,
			var(--color-dark-t) 8px 8px,
			var(--color-dark-t) 9px 9px,
			var(--color-dark-t) 10px 10px,
        }
	}
	.bar {
		display: flex;
		flex-direction: row;
		width: 10px;
        height: 70px;
        &.CT {
            background-color: var(--color-new-ct);
        }
        &.T {
            background-color: var(--color-new-t);
        }
	}

}
.win_text {
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 150px;
	background-color: var(--sub-panel-color);
	width: 0;
	height: 160px;
	opacity: 0;
	font-size: 50px;
	transition: width 0.4s ease-in-out;
	color: #fff !important;
	font-weight: bold;
	text-shadow: -3px 7px 30px rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	// font-family: "Roboto", sans-serif;
	padding: 0 30px;
  
	span {
	  &:nth-of-type(2) {
		font-weight: normal;
		font-style: italic;
		font-size: 30px;
		opacity: 0.6;
	  }
	}
  
	&.show {
	  width: 550px;
	  opacity: 1;
  
	  transition: width 0.4s ease-in-out, box-shadow 0.4s 0.4s ease-in-out;
	}
  
	&.T {
	  box-shadow: var(--color-new-t) 0px 0px 0 0;
  
	  &.show {
		box-shadow: var(--color-light-t) 15px 15px 0 0;
	  }
	}
  
	&.CT {
	  box-shadow: var(--color-new-ct) 0px 0px 0 0;
  
	  &.show {
		box-shadow: var(--color-light-ct) 15px 15px 0 0;
	  }
	}
  }

.defuse_plant_container {
	position: fixed;
	display: flex;
	opacity: 1;
	width: 426px;
	height: 45px; //old 49px;
	top: 70px;
	align-items: center;
	color: white;
    justify-content: center;
    background-color: rgba(0,0,0,0.65);
	.defuse_plant_bar {
		height: 45px;
		background-color: #3c3c3c;
		position: absolute;
		width: 0%;
	}
	.defuse_plant_caption {
		z-index: 1;
		display: flex;
		text-transform: uppercase;
		align-items: flex-end;
		svg {
			margin-right: 13px;
		}
    }
    &.right {
        left: calc(50% + 140px); //old left: calc(50% + 71px);
        .defuse_plant_bar {
            left: 0;
        }
    }
    &.left {
        right: calc(50% + 140px); //old right: calc(50% + 71px);
        .defuse_plant_bar {
            right: 0;
        }
    }
    &.hide {
        opacity: 0;
    }
}
#encapsulator {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	position: fixed;
	justify-content: center;
	top: 80px;
	width: 500px;
	height: 50px;
	left: 50%;
	transform: translateX(-50%);
	.CT {
		color: var(--color-new-ct);
	}
	.T {
		color: var(--color-new-t);
	}
	.wins_bar {
		display: flex;
		flex-direction: row;
		width: 10px;
		height: 30px;
	}
	.wins_bar.CT {
		background-color: var(--color-new-ct);
	}
	.wins_bar.T {
		background-color: var(--color-new-t);
	}
}
.alert_bar.CT {
	background-color: var(--color-new-ct);
}
.alert_bar.T {
	background-color: var(--color-new-t);
}
#series_container {
	display: flex;
	flex-direction: row;
	width: 126px;
	height: 30px;
}
#series_text {
	display: flex;
	flex-direction:column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	color: var(--white-full);
	margin-top: 10px;
}
.container {
	display: flex;
	flex-direction: row;
	width: 77px;
	height: 100%;
}
.container.left {
	justify-content: flex-end;
}
.container.right {
	justify-content: flex-start;
}
.series_wins {
	display: flex;
	flex-direction: row;
	width: 400px;
	height: 30px;
	z-index: 1;
	padding-left: 0px;
	padding-right: 0px;
	top: -30px;
	transition: top 0.5s;
}
.series_wins.show {
	top: 0px;
}
.wins_box_container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 45px;
	align-items: flex-start;
	justify-content: center;
	background-color: var(--sub-panel-color);
}
.series_wins.left {
	.wins_box_container {
		flex-direction: row-reverse;
	}
}
.wins_box {
	width: 15px;//new 15 px; //old 77px
	height: 15px;//new 15px; // old 7px
	margin-top: 15px; //new margin-top: 10px; //old empty line
	margin-left: 2px; //old 2px;
	margin-right: 8px; //old 2px;
}
.wins_box.CT {
	background-color: rgba(0,0,0,0.6);
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--color-new-ct);
}
.wins_box.CT.win {
	background-color: var(--color-new-ct);
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--color-new-ct);
}
.wins_box.T {
	background-color: rgba(0,0,0,0.6);
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--color-new-t);
}
.wins_box.T.win {
	background-color: var(--color-new-t);
	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--color-new-t);
}
