.teambox {
    position: fixed;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.75s;
    &.left.CT {
        .player .hp_bar {
            background: linear-gradient(90deg, rgba(66,83,99,1) 0%, rgba(41,113,159,1) 47%, rgba(19,149,215,1) 100%);
        }
    }
    &.right.CT {
        .player .hp_bar {
            background: linear-gradient(270deg, rgba(66,83,99,1) 0%, rgba(41,113,159,1) 47%, rgba(19,149,215,1) 100%);

        }
    }
    &.left.T {
        .player .hp_bar {
            background: linear-gradient(270deg, rgba(184,127,4,1) 0%, rgba(156,107,7,1) 47%, rgba(110,89,36,1) 100%);
        }
    }
    &.right.T {
        .player .hp_bar {
            background: linear-gradient(90deg, rgba(184,127,4,1) 0%, rgba(156,107,7,1) 47%, rgba(110,89,36,1) 100%);
        }
    }
    &.hide {
        opacity: 0;
    }
    &.left {
        left: 10px;
        .player {
            .row {
                flex-direction: row;
                .grenades {
                    padding-right: 5px;
                }
                
                .armor_and_utility {
                    justify-content: flex-start;
                }
                .money {
                    margin-right: auto;
                }
                .username .roundkills-container {
                    right: 115px;
                }
                .secondary_weapon {
                    padding-right: 10px;
                }
                
            }
            .dead-stats {
                right: 8px;
            }
            .freezetime_KAD {
                margin-left: 0.5rem;
            }
        }
    }
    &.right {
        right: 10px;
        .player {
            flex-direction: row-reverse;
            .dead-stats {
                left: 8px;
            }
            .player_data {
                flex-direction: row-reverse;
                .hp_bar {
                    align-self: flex-end;
                }
                .row {
                    flex-direction: row-reverse;
                    .grenades {
                        padding-left: 5px;
                    }
                    .username {
                        flex-direction: row-reverse;
                        .roundkills-container {
                            left: 115px;
                        }
                    }
                    .secondary_weapon {
                        padding-left: 10px;
                    }
                    .armor_and_utility {
                        justify-content: flex-end;
                    }
                    .money {
                        margin-left: auto;
                        justify-content: flex-end;
                    } 
                    .weapon {
                        transform: scaleX(-1);
                    }
                }
                .avatar {
                    justify-content: flex-start;
                }
            }
            .freezetime_KAD {
                margin-right: 0.5rem;
            }
        }
    }  
    .player {
        width: 645px;
        height: 70px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.active {
            .player_data {
                border: 2px solid white;
            }
        }
        &.dead {
            opacity: 0.7;
            .player_side_bar {
                background-color: var(--main-panel-color) !important;
            }
            .player_data {
                .avatar {
                    filter: grayscale(100%);
                }
                .dead-stats {
                    display: flex;
                }
                .row {
                    .hp_background_2 {
                        opacity: 0;
                    }
                    .health {
                        color: #b2b2b2;
                        overflow: hidden;
                    }
                    .username {
                        color: #b2b2b2;
                    }
                    .armor_and_utility {
                        width: 0px;
                        overflow: hidden;
                    }
                    .money {
                        color: #466722;
                    }
                }
            }
        }
        &:last-child .player_data {
            border-radius: 0 0 0px 0px;
        }
        .player_side_bar {
            width: 10px;
            height: 70px;
            &.CT {
                background-color: var(--color-new-ct);
            }
            &.T {
                background-color: var(--color-new-t);
            }
        }
        .dead-stats {
            position: absolute;
            height: 85%;
            width: 60px;
            display: none;
            flex-direction: column;
            font-weight: 600;
            opacity: 0.75;
            top: 10%;
            .labels {
                display: flex;
                flex-direction: row;
                flex: 1;
                .stat-label {
                    display: flex;
                    &.CT {
                        color: var(--color-new-ct)
                    }
                    &.CT {
                        color: var(--color-new-t)
                    }
                    flex: 1;
                    align-items: center;
                    justify-content: center;
                }
                .values {
                    .stat-value {
                        display: flex;
                        color: white;
                        flex: 1;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .freeztime_KAD .labels .stat-label,
        .freezetime_KAD .values {
            display: flex;
            flex-direction: row;
            flex: 1;
        }
        .dead-stats .labels .stat-label,
        .dead-stats .values .stat-value,
        .freezetime_KAD .labels .stat-label,
        .freezetime_KAD .values .stat-value {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
        }
        .freezetime_KAD {
            background-color: var(--main-panel-color);
            .values .stat-value {
                color: white;
            }
            display: flex;
            flex-direction: column;
            width: 6rem;
            height: 100%;
            opacity: 1;
            transition: opacity 0.75s;
        }
        
        .freezetime_KAD.hide {
            opacity: 0;
        }
        
        .player_data {
            background-color: var(--sub-panel-color);
            width: 380px;
            display: flex;
            flex-direction: row;
            position: relative;
            height: 100%;
            .player_stats {
                display: flex;
                flex-direction: column;
                flex: 1;
                min-width: 0;
                .hp_bar {
                    height:50%;
                    position:absolute;
                    &.low {
                        background-color: red;
                    }
                }
                .row {
                    flex: 1;
                    display: flex;
                    position: relative;
                    svg.weapon {
                        filter: invert(45%);
                        &.active {
                            filter: invert(0);
                        }
                    }
                    .hp_background, .hp_background_2 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                    }
                    .hp_background_2 {
                        background-color: var(--color-bomb);
                        transition: width 0.75s 1.5s;
                    }
                    .armor_and_utility {
                        width: 39px;
                        display: flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        .armor_indicator, .bomb_indicator, .defuse_indicator {
                            svg {
                                max-height: 20px;
                                fill: white;
                            }
                        }
                        div {
                            display: flex;
                            width: 50%;
                        }
                    }
                    .username {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        max-width: calc(100% - 49px);
                        justify-content: space-between;
                        overflow: hidden;
                        font-size: 18px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        .roundkills-container {
                            position: absolute;
                            background-image: url('./../../assets/images/icon_skull_default.svg');
                            background-repeat: no-repeat;
                            background-size: 10px;
                            background-position: left 2px;
                            padding-left: 16px;
                            font-size: 13px;
                        }
                        div span {
                            opacity: 0.6;
                            font-size:15px;
                        }
                        svg.weapon {
                            max-height: 30px;
                            width: auto;
                            margin-left: 5px;
                            margin-right: 5px;
                            max-width: 100px;
                            height: 30px;
                        }
                    }
                    .money {
                        width: 60px;
                        color: var(--color-moneys);
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                    .grenades {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        svg.grenade {
                            max-height: 20px;
                            height: 20px;
                        }
                    }
                    .health {
                        width: 49px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 1;
                        color: white;
                        font-weight: 600;
                        font-size:18px;
                    }
                    .secondary_weapon {
                        display: flex;
                        align-items: center;
                        svg {
                            max-height: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            .avatar {
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                img {
                    border-radius:50%;
                }
            }
        }
    }
}

.players_alive {
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    right: 10px;
    top: 10px;
    opacity: 1;
    transition: opacity 1s;
    .counter_container {
        display: flex;
        height: 45px;
        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size:30px;
            color: white;
            background-color: rgba(0,0,0,0.5);
        }
        .team_counter {
            color: white;
            -webkit-text-stroke-width: 0.2px;
  		    -webkit-text-stroke-color: black;
        }
        .CT {
            background-color: var(--color-new-ct);
            text-shadow: var(--color-dark-ct) 1px 1px,
			var(--color-dark-ct) 2px 2px,
			var(--color-dark-ct) 3px 3px,
			var(--color-dark-ct) 4px 4px,
			var(--color-dark-ct) 5px 5px,
            var(--color-dark-ct) 6px 6px,
            var(--color-dark-ct) 7px 7px,
        }
        .T {
            background-color: var(--color-new-t);
            text-shadow: var(--color-dark-t) 1px 1px,
			var(--color-dark-t) 2px 2px,
			var(--color-dark-t) 3px 3px,
			var(--color-dark-t) 4px 4px,
			var(--color-dark-t) 5px 5px,
            var(--color-dark-t) 6px 6px,
            var(--color-dark-t) 7px 7px,
        }
    }
    .title_container {
        color: white;
        text-transform: uppercase;
        text-align: center;
        height:20px;
        font-size:14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.75);
    }
    &.hide {
        opacity: 0;
    }
}
.teambox .player .dead-stats {
    position: absolute;
    height: 85%;
    width: 60px;
    display: none;
    flex-direction: column;
    font-weight: 600;
    color: white;
    opacity: 0.75;
    top: 10%;
}

.teambox .player.dead .dead-stats {
    display: flex;
}

.teambox.right .player .dead-stats {

    left: 8px;
}

.teambox.left .player .dead-stats {

    right: 8px;
}

.teambox .player .dead-stats .labels,
.teambox .player .dead-stats .values,
.teambox .player .freezetime_KAD .labels,
.teambox .player .freezetime_KAD .values {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.dead-stats .labels .stat-label,
.dead-stats .values .stat-value,
.freezetime_KAD .labels .stat-label,
.freezetime_KAD .values .stat-value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.player_side_stats {
    flex: 0.5;
    height: 85%;
    background-color: var(--main-panel-color);
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-direction:column;
    opacity: 1;
    transition: all 0.5s;
    position: relative;
}
.player_side_stats .side_stat_row {
    display: flex;
    flex: 1;
    color: white;
}
.player_side_stats .side_stat_row div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 13pt;
}
.teambox.left .player_side_stats {
    right:0px;
}
.teambox.right .player_side_stats {
    left:0px;
}
.teambox.left .player_side_stats.hide {
    right:300px;
    opacity: 0;
}
.teambox.right .player_side_stats.hide {
    left:300px;
    opacity: 0;
}
.teambox.CT .player_side_stats .side_stat_row:first-child {
    color: var(--mainCT);
}
.teambox.T .player_side_stats .side_stat_row:first-child {
    color: var(--mainT);
}
.teambox .player .freezetime_KAD {
    background-color: var(--sub-panel-color);
    &.CT {
        color: var(--color-new-ct);
    }
    &.T {
        color: var(--color-new-t)
    }
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
    opacity: 1;
    transition: opacity 0.75s;
}

.teambox .player .freezetime_KAD.hide {
    opacity: 0;
}

.teambox.CT .player .freezetime_KAD {
    .labels .stat-label {
        color: var(--color-new-ct);
    }
    margin-left: 0px;
}
.teambox.T .player .freezetime_KAD {
    .labels .stat-label {
        color: var(--color-new-t);
    }
    margin-right: 0px;
}
.teambox.left .player .freezetime_KAD {
    margin-left: 0px;
}
.teambox.right .player .freezetime_KAD {
    margin-right: 0px;
}
.teambox .player .spending {
    background-color: var(--sub-panel-color);
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 100%;
    opacity: 1;
    transition: opacity 0.75s;
}
.teambox .player .spending.hide {
    opacity: 0;
}
.teambox .player .spending .label,
.teambox .player .spending .value {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.teambox .player .spending {
    .label {
        color: greenyellow; 
    }
    .value {
        color: red;
    }
}